.nav {
  margin: 0;
  padding: 15px;
  background-color: rgba(4, 53, 122, 0.9);
  display: flex;
  justify-content: flex-end;
}

.navList {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
}

.navItem:not(:last-child) {
  margin-right: 10px;
}

.navLink {
  font-size: 22px;
  padding: 10px 35px;
  border: 1px solid yellowgreen;
  color: yellowgreen;
  background-color: transparent;
  border-radius: 5px;
  text-decoration: none;

  // &.active {
  //   background-color: #ffff0080;
  //   color: black;
  // }
}

.activeLink {
  background-color: #ffff0080;
  color: black;
}
