@value colors: "../../assets/styles/variables.css";
@value blue, red, green from colors;

.container {
  /* background-color: rgba(4, 57, 114, 0.8); */
  background-color: red;
  padding: 15px 45px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo { 
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 10px;
}

.userInfo,
.cartInfo {
  display: flex;
  align-items: center;
}

.userName {
  width: 65px;
  height: 65px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 44px;
  background-color: #fff;
  border-radius: 50%;
}

.userEmail {
  font-size: 28px;
  color: bisque;
}

.btnCart {
  position: relative;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
}

.productsQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  position: absolute;
  background-color: orange;
  bottom: -2px;
  right: -2px;
}
